# Ignorar directorios
node_modules/
dist/

# Ignorar archivos específicos
.env
.DS_Store

# Ignorar todos los archivos de un tipo específico
*.log
*.tmp

# Ignorar archivos en subdirectorios
**/config.json
